<template>
  <div class="answer" :class="{active: isActive}" v-on:click="select">
    <p>{{ text }}</p>
  </div>
</template>

<script>
export default {
  name: "Answer",
  props: {
    id: Number,
    text: String,
    isActive: Boolean,
  },
  methods: {
    select: function () {
      this.$emit('select', {id: this.id})
    }
  }
}
</script>

<style scoped>
.answer {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  border: 1px solid #e7cc75;
  border-radius: 20px;
  margin: 5px auto auto;
}

.answer p{
  margin: 10px;
}

.answer.active, .answer.active:hover {
  background-color: #eace66;
  color: white;
}
.answer.active {
  color: white;
}

.answer:hover {
  background-color: #2b2b2b;
  border: 1px solid #eace66;
  color: #eace66;
}
</style>