<template>
  <div class="question">
    <h3>{{ question.question }}</h3>
    <div class="question__group">
      <answer v-for="answer in question.answers"
              :isActive="(answer.id === this.selected)"
              :key="answer.id"
              :id="answer.id"
              :text="answer.text"
              v-on:select="select">
      </answer>
    </div>
  </div>
</template>

<script>
import Answer from "./Answer";

export default {
  name: "Question",
  components: {
    Answer
  },
  props: {
    question: Object
  },
  data: function () {
    return {
      selected: null,
    }
  },
  methods: {
    select: function (event) {
      if (this.selected === null) {
        this.selected = event.id
        setTimeout(() => {
          this.$emit('answered', {'id': this.selected, right: this.selected === this.question.right})
          this.selected = null
        }, 1000)
      }
    },
  },
}
</script>

<style scoped>
.question {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.question__group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>