<template>
  <div v-if="completed">
    <h3>Опрос пройден</h3>
    <button class="quiz-btn" v-on:click="sendResult">Узнать результат</button>
  </div>
  <div v-else-if="questions.length > 0">
    <question
        :question="currentQuestion"
        v-on:answered="next">
    </question>
  </div>
  <div v-else>
    <img src="preloader.gif" alt="" width="40" height="40">
  </div>
</template>

<script>
import Question from "./Question";

export default {
  name: 'Quiz',
  components: {
    Question
  },
  props: {
    questions: Array
  },
  data: function () {
    return {
      currentQuestionPosition: 0,
      answers: [],
      completed: false,
    }
  },
  computed: {
    currentQuestion: function () {
      return this.questions[this.currentQuestionPosition]
    },
    maxIndex: function () {
      return this.questions.length
    }
  },
  methods: {
    next: function (event) {
      const curQuestion = this.questions[this.currentQuestionPosition]
      if (this.completed) {
        return
      }
      this.answers.push({questionId: curQuestion.id, answerId: event.id, right: event.right})
      const nextQuestion = this.currentQuestionPosition + 1
      if (nextQuestion < this.maxIndex) {
        this.currentQuestionPosition = nextQuestion
      } else {
        this.endQuiz()
      }
    },
    endQuiz: function () {
      this.completed = true
    },
    sendResult: function () {
      this.$store.dispatch('SEND_RESULT', {'answers': this.answers, 'userId': this.$store.state.userId});
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
