<template>
  <div class="quiz-result">
    <h3>Ваш результат {{ text }}</h3>
  </div>
</template>

<script>
export default {
  name: "QuizResult",
  props: {
    text: String
  }
}
</script>

<style scoped>
</style>