<template>
  <div class="quiz">
    <div class="quiz-content">
      <div v-if="!start">
        <button class="quiz-btn" v-on:click="startQuiz">Пройти тест</button>
      </div>
      <div v-else>
        <div v-if="emptyQuestion">
          <h3>Нет доступных опросов</h3>
        </div>
        <div v-else-if="questionResult.length > 0">
          <quiz-result :text="questionResult"></quiz-result>
        </div>
        <div v-else>
          <quiz :questions="questions"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Quiz from './components/Quiz.vue'
import {mapState} from 'vuex'
import QuizResult from "@/components/QuizResult";


export default {
  name: 'App',
  components: {
    QuizResult,
    Quiz
  },
  data() {
    return {
      start: false
    }
  },
  computed: {
    ...mapState([
          'questions', 'questionResult', 'emptyQuestion'
        ]
    )
  },
  methods: {
    startQuiz: function () {
      this.start = true
      this.$store.dispatch('GET_QUESTIONS')
    }
  },
}
</script>

<style>
.quiz {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.quiz-content {
  display: flex;
  margin: auto;
}
.quiz-btn {
  color: #212529;
  background-color: #e7cc75;
  border-radius: 5px;
  border-color: #e7cc75;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.53rem 1rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.quiz-btn:hover {
  color: #212529;
  background-color: #e1c054;
  border-color: #dfbc4a;
}
</style>
